<center>
<h1><%= @tweet.content %></h1><br>
<h3>
  <label>Comments:</label><br>
  <% @tweet.comments.each do |comment| %>
    <h4><%= comment.user.name %>:</h4> <%= comment.content %><br><br>
  <% end %>
</h3><br>

  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %><br>

  <%= link_to "#{@tweet.num_likes} likes", user_tweet_likes_path(@tweet.user, @tweet) %>

  <% if @tweet.likes.find_by(user: current_user) %>
   <%= button_to "Unlike", user_tweet_like_path(@tweet.user, @tweet, @tweet.likes.find_by(user: current_user)), :method => :delete %>
  <% else %>
   <%= button_to "Like", user_tweet_likes_path(@tweet.user, @tweet) %>
   <% end %>
   <br>
  <%= link_to "View Comments", user_tweet_comments_path(@tweet.user, @tweet) %><br>
  <%= link_to "Add Comment", new_user_tweet_comment_path(@tweet.user, @tweet) %><br>
  <%= link_to "Return to Profile", user_path(@tweet.user) %><br>
  <%= link_to "Return to All Users", users_path %>

</center>
