<div class="signup-form">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>


<div class="signup-form">
  <%= f.text_field :name, placeholder: "Name" %><br>

  <%= f.text_field :email, placeholder: "Email" %><br>

  <%= f.password_field :password, placeholder: "Password" %><br>

  <%= f.text_field :profile_pic, placeholder: "Profile Picture" %><br>

  <button class="signin_button" type="submit" value="sign In">Submit</label>
</div>
  <% if @user == current_user %>
  <%= button_to "Delete Account", @user, method: :delete %>
  <% end %>
<% end %>



<!-- <%= link_to "Return to users page", users_path %> -->
