
<% @tweets.each do |tweet| %>
     <h2>
       <%= "#{tweet.user.name}:" %> <br>
       <%= image_tag tweet.user.profile_pic, :size => "90x80" %>
     </h2>

     <h2>
       <%= tweet.content %>
     </h2>

     <h4>
       <%= link_to "View Tweet", user_tweet_path(tweet.user, tweet) %><br>
     </h4>

     <h6>
       <%= link_to "#{tweet.num_likes} likes", user_tweet_likes_path(tweet.user, tweet) %>
          <% tweet.likes.each do |like| %>
            <%= image_tag like.user.profile_pic, :size => "22x17" %>
          <% end %>
     </h6>

     <h6>
       <% tweet.comments.reverse.each_with_index do |comment, index| %>
          <%  break if index > 4 %>
            <%= link_to "#{comment.user.name}:", user_path(comment.user) %>
            <%= link_to "#{comment.content}", user_tweet_comment_path(tweet.user, tweet, comment) %><br>
            <%= image_tag comment.user.profile_pic, :size => "35x24" %><br>
          <% end %>
     </h6>

       <%= button_to "Like", user_tweet_likes_path(tweet.user, tweet, params: {origin: "feed"}) %><br>
       <%= button_to "Add a comment", new_user_tweet_comment_path(tweet.user, tweet), :method => :get, params: {origin: "feed"} %><br>
     <%  end %>

<br><br>
