<h1>Please choose a profile to view:</h1>

  <div class="user-gallery">
    <% @users.each do |user| %>
      <div class="user"><h2><%= link_to user.name, user %>
        <% if logged_in? && user.id == session[:user_id] %>
          <%= "(You)" %>
        <% end %></h2>
        <%= image_tag user.profile_pic, :size => "250x200" %></div>
    <% end %>
  </div>


<% if !logged_in? %>
<h3><%="Dont have an Account?" %>
    <%= link_to "Create one here", signup_path %>
</h3>
<% end %>
