<h1>Please choose a profile to view:</h1>
<h2><% @users.each do |user| %>
    <%= link_to user.name, user %>
    <% if logged_in? && user.id == session[:user_id] %>
    <%= "(You)" %>
    <% end %><br>
    <%= image_tag user.profile_pic, :size => "140x100" %><br>
    <% end %>
</h2>

<% if !logged_in? %>
<h3><%="Dont have an Account?" %>
    <%= link_to "Create one here", signup_path %>
</h3>
<% end %>
