<!DOCTYPE html>
<center>
  <html>
    <head>
      <h1><title>Flitter</title></h1>
      <link rel="stylesheet" href="../stylesheets/application.css">

      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body class="login">
      <nav class="nav-bar">
        <ul>
          <% if logged_in? %>
            <p><%= "Logged in as #{current_user.name} (#{current_user.email})" %></p>
            <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <li><%= link_to "Settings", edit_profile_path %></li>
            <li><%= link_to "All Users", users_path %></li>
            <li><%= link_to "Newsfeed", feed_path %></li>
            <li><%= link_to "Home", profile_path %></li>
          <br><br>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><%= link_to "Sign In", login_path %></li>
          <% end %>
        </ul>
      </nav>
      <%= yield %>
    </body>
  </html>
</center>
